<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7faa95">  <td>21/07/26 23:29:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BaseClass.excel()[pri:1, instance:utilities.BaseClass@1f57539]">excel</td> 
  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>21/07/26 23:29:43</td>   <td>-6280</td> <td title="&gt;&gt;BaseClass.initialization()[pri:0, instance:utilities.BaseClass@1f57539]">&gt;&gt;initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>21/07/26 23:29:44</td>   <td>-5599</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchBrowser()[pri:0, instance:utilities.BaseClass@1f57539]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
<tr bgcolor="7faa95">  <td>21/07/26 23:29:50</td>   <td>70</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:utilities.BaseClass@1f57539]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1613255205</td>   <td></td> </tr>
</table>
