<h2>Methods that were not run</h2><table>
<tr><td>utilities.BaseClass.initialization</td></tr>
<tr><td>utilities.BaseClass.launchBrowser</td></tr>
<tr><td>utilities.BaseClass.tearDown</td></tr>
</table>