<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Practice Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6796d9">  <td>21/08/15 14:24:53</td>   <td>0</td> <td title="&gt;&gt;BaseClass.initialization()[pri:0, instance:testCases.Login@6ee52dcd]">&gt;&gt;initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>21/08/15 14:24:54</td>   <td>715</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchBrowser()[pri:0, instance:testCases.Login@6ee52dcd]">&gt;&gt;launchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="727982">  <td>21/08/15 14:25:05</td>   <td>11501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Login.LoginTest()[pri:1, instance:testCases.Login@6ee52dcd]">LoginTest</td> 
  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="6c6fbb">  <td>21/08/15 14:25:29</td>   <td>36006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Home.homeNavigation()[pri:0, instance:testCases.Home@4493d195]">homeNavigation</td> 
  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="6796d9">  <td>21/08/15 14:25:47</td>   <td>53758</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:testCases.Login@6ee52dcd]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
</table>
